<f:be.container	includeCssFiles="{0: '{f:uri.resource(path:\'Css/Administration.css\')}'}"
				   includeJsFiles="{1: '{f:uri.resource(path:\'JavaScript/Module.js\')}'}"
				   enableClickMenu="false"
				   loadExtJs="false"
				   loadExtJsTheme="false"
				   loadPrototype="false"
				   loadScriptaculous="false"
				   enableExtJsDebug="false"
				   loadJQuery="true"
				   includeRequireJsModules="{0: 'Netweiser/Fontawesomeplus/Module'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:link.action action="testPythonModules" title="{f:translate(key: 'LLL:EXT:fontawesomeplus/Resources/Private/Language/locallang_be_module.xlf:record.testPythonModules')}">
						<i class="fa fa-info"></i>
						{f:translate(key: 'LLL:EXT:fontawesomeplus/Resources/Private/Language/locallang_be_module.xlf:record.testPythonModules')}
					</f:link.action>
				</div>
				<div class="right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:link.action action="newFont" title="{f:translate(key: 'LLL:EXT:fontawesomeplus/Resources/Private/Language/locallang_be_module.xlf:record.newFont')}">
						<f:image src="{f:uri.resource(path:'Icons/fontawesomeplus_domain_model_font_add.png')}" />
						{f:translate(key: 'LLL:EXT:fontawesomeplus/Resources/Private/Language/locallang_be_module.xlf:record.newFont')}
					</f:link.action>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="contactmanager-administration">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>